      <div class="min-vh-100 d-flex justify-content-center align-items-center" id="form-container">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h3>Error 404: La URL proporcionada no existe.</h3>
                    <hr>
                    <a class="btn btn-primary" href="/home/index" id="go-back-button">Volver al Inicio</a>
                </div>
            </div>
        </div>
        </div>